/* Estilos generales */
body {
    font-family: 'Adlam Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #F3EEDD;
    padding: 15px 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left-group {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav .right-group {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

nav .buscar {
    width: 20px;
    height: 20px;
}

.ingresar,
.registrarse {
    width: 90px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ingresar {
    background-color: #08293f;
    color: #ffffff;
    margin-right: 10px;
}

.registrarse {
    background-color: #766605;
    color: #ffffff;
}

/* Estilos para la sección de bienvenida */
#welcome-message {
    text-align: left; /* Alineado a la izquierda */
    padding: 10px;
    position: relative; /* Agregamos posición relativa al contenedor principal */
}

#welcome-message img {
    position: absolute;
    top: 60;
    right: 0;
    max-width: 40%; /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
    z-index: -1; /* Colocamos la imagen detrás del contenido */
}

#welcome-message h2 {
    font-size: 60px;
    color: #8B2323;
    margin-bottom: -5%; 
}

#welcome-message h1 {
    font-size: 100px;
    color: #4D77E0;
}

#welcome-message p {
    font-size: 18px;
    margin-right: 60%; /* Ajusta el margen derecho según tus necesidades */
}

/* Resto de tus estilos sigue igual */


.cta-btn {
    background-color: #FFD700;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #FFA500;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
