body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('elementos/OIG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f3eedd;
  padding: 10px;
} 

nav .left-group {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

nav .right-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.ingresar,
.registrarse,
.boton {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.ingresar {
  background-color: #08293f;
  color: #ffffff;
}

.registrarse {
  background-color: #766605;
  color: #ffffff;
}

.buscar {
  width: 20px;
  height: 20px;
}

.imagentexto {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.boton {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  background-color: #766605;
  color: #ffffff;
  margin-left: auto;
  margin-top: 20px;
}

.titulo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  height: 100px;
  margin-left: 20px;
}

.h3 {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin-left: auto; /* Esto llevará el texto a la derecha */
}

.imagen {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
